# Multiple imputation by chained equations (MICE)

In [33]:
# Cargar bibliotecas
import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [34]:
# Cargar el dataset de Titanic desde seaborn
titanic = sns.load_dataset('titanic')

In [36]:
# Mostrar primeros valores
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [37]:
# Check missing data
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
# Vamos a imputar los valores faltantes de la columna 'age' (edad)
# Seleccionamos un subconjunto de columnas para el ejemplo
data = titanic[['age', 'fare', 'pclass', 'sex']]

# Convertimos las variables categóricas en variables dummy (la variable 'sex' es categórica)
data = pd.get_dummies(data, drop_first=True)

data.head(20)

     age     fare  pclass  sex_male
0   22.0   7.2500       3      True
1   38.0  71.2833       1     False
2   26.0   7.9250       3     False
3   35.0  53.1000       1     False
4   35.0   8.0500       3      True
5    NaN   8.4583       3      True
6   54.0  51.8625       1      True
7    2.0  21.0750       3      True
8   27.0  11.1333       3     False
9   14.0  30.0708       2     False
10   4.0  16.7000       3     False
11  58.0  26.5500       1     False
12  20.0   8.0500       3      True
13  39.0  31.2750       3      True
14  14.0   7.8542       3     False
15  55.0  16.0000       2     False
16   2.0  29.1250       3      True
17   NaN  13.0000       2      True
18  31.0  18.0000       3     False
19   NaN   7.2250       3     False

In [39]:
# Crear el imputador MICE (IterativeImputer)
imputer = IterativeImputer(max_iter=10, random_state=0)

In [40]:
# Imputar los valores faltantes
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [41]:
# Mostrar los datos originales con valores faltantes
print("Datos originales (con valores faltantes):")
data.head(30)

Datos originales (con valores faltantes):

     age      fare  pclass  sex_male
0   22.0    7.2500       3      True
1   38.0   71.2833       1     False
2   26.0    7.9250       3     False
3   35.0   53.1000       1     False
4   35.0    8.0500       3      True
5    NaN    8.4583       3      True
6   54.0   51.8625       1      True
7    2.0   21.0750       3      True
8   27.0   11.1333       3     False
9   14.0   30.0708       2     False
10   4.0   16.7000       3     False
11  58.0   26.5500       1     False
12  20.0    8.0500       3      True
13  39.0   31.2750       3      True
14  14.0    7.8542       3     False
15  55.0   16.0000       2     False
16   2.0   29.1250       3      True
17   NaN   13.0000       2      True
18  31.0   18.0000       3     False
19   NaN    7.2250       3     False
20  35.0   26.0000       2      True
21  34.0   13.0000       2      True
22  15.0    8.0292       3     False
23  28.0   35.5000       1      True
24   8.0   21.0750       3     False
25  38.0   31.3875       3     False
26   NaN    7.2250       3      True
27  19.0  263.0000       1      True
28   NaN    7.8792       3     False
29   NaN    7.8958       3      True

In [42]:
# Mostrar los datos después de la imputación múltiple (MICE)
print("\nDatos después de la imputación múltiple (MICE):")
data_imputed.head(30)

Datos después de la imputación múltiple (MICE):

          age      fare  pclass  sex_male
0   22.000000    7.2500     3.0       1.0
1   38.000000   71.2833     1.0       0.0
2   26.000000    7.9250     3.0       0.0
3   35.000000   53.1000     1.0       0.0
4   35.000000    8.0500     3.0       1.0
5   26.082704    8.4583     3.0       1.0
6   54.000000   51.8625     1.0       1.0
7    2.000000   21.0750     3.0       1.0
8   27.000000   11.1333     3.0       0.0
9   14.000000   30.0708     2.0       0.0
10   4.000000   16.7000     3.0       0.0
11  58.000000   26.5500     1.0       0.0
12  20.000000    8.0500     3.0       1.0
13  39.000000   31.2750     3.0       1.0
14  14.000000    7.8542     3.0       0.0
15  55.000000   16.0000     2.0       0.0
16   2.000000   29.1250     3.0       1.0
17  33.850204   13.0000     2.0       1.0
18  31.000000   18.0000     3.0       0.0
19  22.070708    7.2250     3.0       0.0
20  35.000000   26.0000     2.0       1.0
21  34.000000   13.0000     2.0       1.0
22  15.000000    8.0292     3.0       0.0
23  28.000000   35.5000     1.0       1.0
24   8.000000   21.0750     3.0       0.0
25  38.000000   31.3875     3.0       0.0
26  26.127637    7.2250     3.0       1.0
27  19.000000  263.0000     1.0       1.0
28  22.046873    7.8792     3.0       0.0
29  26.103198    7.8958     3.0       1.0

# Exercise 1
Use MICE on the life-expectancy dataset to fill in missing values.
https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who

In [7]:
# Import necessary libraries
import pandas as pd
from sklearn.experimental import enable_iterative_imputer

from sklearn.impute import IterativeImputer
import kagglehub
import os

# Download the Life Expectancy dataset
path = kagglehub.dataset_download("kumarajarshi/life-expectancy-who")

# Locate the downloaded files
downloaded_files = os.listdir(path)
print("Downloaded files:", downloaded_files)

# Assuming the CSV file is named 'Life Expectancy Data.csv', modify if needed
csv_file_path = os.path.join(path, 'Life Expectancy Data.csv')

# Load the dataset
df_life_expectancy = pd.read_csv(csv_file_path)

Downloaded files: ['Life Expectancy Data.csv']

In [9]:
# Show the number of missing values before imputation
print("Missing values before MICE imputation:")
print(df_life_expectancy.isnull().sum())

Missing values before MICE imputation:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [10]:
print("\nFirst 30 rows before imputation:\n", df_life_expectancy.head(30))

First 30 rows before imputation:
         Country  Year      Status  Life expectancy   Adult Mortality  \
0   Afghanistan  2015  Developing              65.0            263.0
1   Afghanistan  2014  Developing              59.9            271.0
2   Afghanistan  2013  Developing              59.9            268.0
3   Afghanistan  2012  Developing              59.5            272.0
4   Afghanistan  2011  Developing              59.2            275.0
5   Afghanistan  2010  Developing              58.8            279.0
6   Afghanistan  2009  Developing              58.6            281.0
7   Afghanistan  2008  Developing              58.1            287.0
8   Afghanistan  2007  Developing              57.5            295.0
9   Afghanistan  2006  Developing              57.3            295.0
10  Afghanistan  2005  Developing              57.3            291.0
11  Afghanistan  2004  Developing              57.0            293.0
12  Afghanistan  2003  Developing              56.7            295.0
13  Afghanistan  2002  Developing              56.2              3.0
14  Afghanistan  2001  Developing              55.3            316.0
15  Afghanistan  2000  Developing              54.8            321.0
16      Albania  2015  Developing              77.8             74.0
17      Albania  2014  Developing              77.5              8.0
18      Albania  2013  Developing              77.2             84.0
19      Albania  2012  Developing              76.9             86.0
20      Albania  2011  Developing              76.6             88.0
21      Albania  2010  Developing              76.2             91.0
22      Albania  2009  Developing              76.1             91.0
23      Albania  2008  Developing              75.3              1.0
24      Albania  2007  Developing              75.9              9.0
25      Albania  2006  Developing              74.2             99.0
26      Albania  2005  Developing              73.5             15.0
27      Albania  2004  Developing              73.0             17.0
28      Albania  2003  Developing              72.8             18.0
29      Albania  2002  Developing              73.3             15.0

    infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0              62     0.01               71.279624         65.0      1154
1              64     0.01               73.523582         62.0       492
2              66     0.01               73.219243         64.0       430
3              69     0.01               78.184215         67.0      2787
4              71     0.01                7.097109         68.0      3013
5              74     0.01               79.679367         66.0      1989
6              77     0.01               56.762217         63.0      2861
7              80     0.03               25.873925         64.0      1599
8              82     0.02               10.910156         63.0      1141
9              84     0.03               17.171518         64.0      1990
10             85     0.02                1.388648         66.0      1296
11             87     0.02               15.296066         67.0       466
12             87     0.01               11.089053         65.0       798
13             88     0.01               16.887351         64.0      2486
14             88     0.01               10.574728         63.0      8762
15             88     0.01               10.424960         62.0      6532
16              0     4.60              364.975229         99.0         0
17              0     4.51              428.749067         98.0         0
18              0     4.76              430.876979         99.0         0
19              0     5.14              412.443356         99.0         9
20              0     5.37              437.062100         99.0        28
21              1     5.28               41.822757         99.0        10
22              1     5.79              348.055952         98.0         0
23              1     5.61               36.622068         99.0         0
24              1     5.58               32.246552         98.0        22
25              1     5.31                3.302154         98.0        68
26              1     5.16               26.993121         98.0         6
27              1     4.54              221.842800         99.0         7
28              1     4.29               14.719289         97.0         8
29              1     3.73              104.516916         96.0        16

    ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
0   ...    6.0               8.16         65.0        0.1   584.259210
1   ...   58.0               8.18         62.0        0.1   612.696514
2   ...   62.0               8.13         64.0        0.1   631.744976
3   ...   67.0               8.52         67.0        0.1   669.959000
4   ...   68.0               7.87         68.0        0.1    63.537231
5   ...   66.0               9.20         66.0        0.1   553.328940
6   ...   63.0               9.42         63.0        0.1   445.893298
7   ...   64.0               8.33         64.0        0.1   373.361116
8   ...   63.0               6.73         63.0        0.1   369.835796
9   ...   58.0               7.43         58.0        0.1   272.563770
10  ...   58.0               8.70         58.0        0.1    25.294130
11  ...    5.0               8.79          5.0        0.1   219.141353
12  ...   41.0               8.82         41.0        0.1   198.728544
13  ...   36.0               7.76         36.0        0.1   187.845950
14  ...   35.0               7.80         33.0        0.1   117.496980
15  ...   24.0               8.20         24.0        0.1   114.560000
16  ...   99.0               6.00         99.0        0.1  3954.227830
17  ...   98.0               5.88         98.0        0.1  4575.763787
18  ...   99.0               5.66         99.0        0.1  4414.723140
19  ...   99.0               5.59         99.0        0.1  4247.614380
20  ...   99.0               5.71         99.0        0.1  4437.178680
21  ...   99.0               5.34         99.0        0.1   494.358832
22  ...   98.0               5.79         98.0        0.1  4114.136545
23  ...   99.0               5.87         99.0        0.1   437.539647
24  ...   99.0               6.10         98.0        0.1   363.136850
25  ...   97.0               5.86         97.0        0.1    35.129300
26  ...   97.0               6.12         98.0        0.1   279.142931
27  ...   98.0               6.38         97.0        0.1  2416.588235
28  ...   97.0               6.27         97.0        0.1   189.681557
29  ...   98.0               6.30         98.0        0.1  1453.642777

    Population   thinness  1-19 years   thinness 5-9 years  \
0   33736494.0                   17.2                 17.3
1     327582.0                   17.5                 17.5
2   31731688.0                   17.7                 17.7
3    3696958.0                   17.9                 18.0
4    2978599.0                   18.2                 18.2
5    2883167.0                   18.4                 18.4
6     284331.0                   18.6                 18.7
7    2729431.0                   18.8                 18.9
8   26616792.0                   19.0                 19.1
9    2589345.0                   19.2                 19.3
10    257798.0                   19.3                 19.5
11  24118979.0                   19.5                 19.7
12   2364851.0                   19.7                 19.9
13  21979923.0                   19.9                  2.2
14   2966463.0                    2.1                  2.4
15    293756.0                    2.3                  2.5
16     28873.0                    1.2                  1.3
17    288914.0                    1.2                  1.3
18    289592.0                    1.3                  1.4
19      2941.0                    1.3                  1.4
20    295195.0                    1.4                  1.5
21    291321.0                    1.4                  1.5
22   2927519.0                    1.5                  1.6
23   2947314.0                    1.6                  1.6
24     29717.0                    1.6                  1.7
25   2992547.0                    1.7                  1.8
26    311487.0                    1.8                  1.8
27    326939.0                    1.8                  1.9
28    339616.0                    1.9                  2.0
29      3511.0                    2.0                  2.1

    Income composition of resources  Schooling
0                             0.479       10.1
1                             0.476       10.0
2                             0.470        9.9
3                             0.463        9.8
4                             0.454        9.5
5                             0.448        9.2
6                             0.434        8.9
7                             0.433        8.7
8                             0.415        8.4
9                             0.405        8.1
10                            0.396        7.9
11                            0.381        6.8
12                            0.373        6.5
13                            0.341        6.2
14                            0.340        5.9
15                            0.338        5.5
16                            0.762       14.2
17                            0.761       14.2
18                            0.759       14.2
19                            0.752       14.2
20                            0.738       13.3
21                            0.725       12.5
22                            0.721       12.2
23                            0.713       12.0
24                            0.703       11.6
25                            0.696       11.4
26                            0.685       10.8
27                            0.681       10.9
28                            0.674       10.7
29                            0.670       10.7

[30 rows x 22 columns]

In [11]:
# Apply MICE (IterativeImputer) to fill in missing values
# First, keep only numeric columns for MICE imputation as it doesn't work with categorical variables
df_numeric = df_life_expectancy.select_dtypes(include=['float64', 'int64'])

# Perform MICE imputation
imputer = IterativeImputer(max_iter=10, random_state=0)
df_imputed = pd.DataFrame(imputer.fit_transform(df_numeric), columns=df_numeric.columns)

# Replace numeric columns in original dataframe with imputed values
df_life_expectancy[df_numeric.columns] = df_imputed

# Show the number of missing values after imputation
print("\nMissing values after MICE imputation:")
print(df_life_expectancy.isnull().sum())

Missing values after MICE imputation:
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [12]:
print("\nFirst 30 rows after imputation:\n", df_life_expectancy.head(30))

First 30 rows after imputation:
         Country    Year      Status  Life expectancy   Adult Mortality  \
0   Afghanistan  2015.0  Developing              65.0            263.0
1   Afghanistan  2014.0  Developing              59.9            271.0
2   Afghanistan  2013.0  Developing              59.9            268.0
3   Afghanistan  2012.0  Developing              59.5            272.0
4   Afghanistan  2011.0  Developing              59.2            275.0
5   Afghanistan  2010.0  Developing              58.8            279.0
6   Afghanistan  2009.0  Developing              58.6            281.0
7   Afghanistan  2008.0  Developing              58.1            287.0
8   Afghanistan  2007.0  Developing              57.5            295.0
9   Afghanistan  2006.0  Developing              57.3            295.0
10  Afghanistan  2005.0  Developing              57.3            291.0
11  Afghanistan  2004.0  Developing              57.0            293.0
12  Afghanistan  2003.0  Developing              56.7            295.0
13  Afghanistan  2002.0  Developing              56.2              3.0
14  Afghanistan  2001.0  Developing              55.3            316.0
15  Afghanistan  2000.0  Developing              54.8            321.0
16      Albania  2015.0  Developing              77.8             74.0
17      Albania  2014.0  Developing              77.5              8.0
18      Albania  2013.0  Developing              77.2             84.0
19      Albania  2012.0  Developing              76.9             86.0
20      Albania  2011.0  Developing              76.6             88.0
21      Albania  2010.0  Developing              76.2             91.0
22      Albania  2009.0  Developing              76.1             91.0
23      Albania  2008.0  Developing              75.3              1.0
24      Albania  2007.0  Developing              75.9              9.0
25      Albania  2006.0  Developing              74.2             99.0
26      Albania  2005.0  Developing              73.5             15.0
27      Albania  2004.0  Developing              73.0             17.0
28      Albania  2003.0  Developing              72.8             18.0
29      Albania  2002.0  Developing              73.3             15.0

    infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0            62.0     0.01               71.279624         65.0    1154.0
1            64.0     0.01               73.523582         62.0     492.0
2            66.0     0.01               73.219243         64.0     430.0
3            69.0     0.01               78.184215         67.0    2787.0
4            71.0     0.01                7.097109         68.0    3013.0
5            74.0     0.01               79.679367         66.0    1989.0
6            77.0     0.01               56.762217         63.0    2861.0
7            80.0     0.03               25.873925         64.0    1599.0
8            82.0     0.02               10.910156         63.0    1141.0
9            84.0     0.03               17.171518         64.0    1990.0
10           85.0     0.02                1.388648         66.0    1296.0
11           87.0     0.02               15.296066         67.0     466.0
12           87.0     0.01               11.089053         65.0     798.0
13           88.0     0.01               16.887351         64.0    2486.0
14           88.0     0.01               10.574728         63.0    8762.0
15           88.0     0.01               10.424960         62.0    6532.0
16            0.0     4.60              364.975229         99.0       0.0
17            0.0     4.51              428.749067         98.0       0.0
18            0.0     4.76              430.876979         99.0       0.0
19            0.0     5.14              412.443356         99.0       9.0
20            0.0     5.37              437.062100         99.0      28.0
21            1.0     5.28               41.822757         99.0      10.0
22            1.0     5.79              348.055952         98.0       0.0
23            1.0     5.61               36.622068         99.0       0.0
24            1.0     5.58               32.246552         98.0      22.0
25            1.0     5.31                3.302154         98.0      68.0
26            1.0     5.16               26.993121         98.0       6.0
27            1.0     4.54              221.842800         99.0       7.0
28            1.0     4.29               14.719289         97.0       8.0
29            1.0     3.73              104.516916         96.0      16.0

    ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
0   ...    6.0               8.16         65.0        0.1   584.259210
1   ...   58.0               8.18         62.0        0.1   612.696514
2   ...   62.0               8.13         64.0        0.1   631.744976
3   ...   67.0               8.52         67.0        0.1   669.959000
4   ...   68.0               7.87         68.0        0.1    63.537231
5   ...   66.0               9.20         66.0        0.1   553.328940
6   ...   63.0               9.42         63.0        0.1   445.893298
7   ...   64.0               8.33         64.0        0.1   373.361116
8   ...   63.0               6.73         63.0        0.1   369.835796
9   ...   58.0               7.43         58.0        0.1   272.563770
10  ...   58.0               8.70         58.0        0.1    25.294130
11  ...    5.0               8.79          5.0        0.1   219.141353
12  ...   41.0               8.82         41.0        0.1   198.728544
13  ...   36.0               7.76         36.0        0.1   187.845950
14  ...   35.0               7.80         33.0        0.1   117.496980
15  ...   24.0               8.20         24.0        0.1   114.560000
16  ...   99.0               6.00         99.0        0.1  3954.227830
17  ...   98.0               5.88         98.0        0.1  4575.763787
18  ...   99.0               5.66         99.0        0.1  4414.723140
19  ...   99.0               5.59         99.0        0.1  4247.614380
20  ...   99.0               5.71         99.0        0.1  4437.178680
21  ...   99.0               5.34         99.0        0.1   494.358832
22  ...   98.0               5.79         98.0        0.1  4114.136545
23  ...   99.0               5.87         99.0        0.1   437.539647
24  ...   99.0               6.10         98.0        0.1   363.136850
25  ...   97.0               5.86         97.0        0.1    35.129300
26  ...   97.0               6.12         98.0        0.1   279.142931
27  ...   98.0               6.38         97.0        0.1  2416.588235
28  ...   97.0               6.27         97.0        0.1   189.681557
29  ...   98.0               6.30         98.0        0.1  1453.642777

    Population   thinness  1-19 years   thinness 5-9 years  \
0   33736494.0                   17.2                 17.3
1     327582.0                   17.5                 17.5
2   31731688.0                   17.7                 17.7
3    3696958.0                   17.9                 18.0
4    2978599.0                   18.2                 18.2
5    2883167.0                   18.4                 18.4
6     284331.0                   18.6                 18.7
7    2729431.0                   18.8                 18.9
8   26616792.0                   19.0                 19.1
9    2589345.0                   19.2                 19.3
10    257798.0                   19.3                 19.5
11  24118979.0                   19.5                 19.7
12   2364851.0                   19.7                 19.9
13  21979923.0                   19.9                  2.2
14   2966463.0                    2.1                  2.4
15    293756.0                    2.3                  2.5
16     28873.0                    1.2                  1.3
17    288914.0                    1.2                  1.3
18    289592.0                    1.3                  1.4
19      2941.0                    1.3                  1.4
20    295195.0                    1.4                  1.5
21    291321.0                    1.4                  1.5
22   2927519.0                    1.5                  1.6
23   2947314.0                    1.6                  1.6
24     29717.0                    1.6                  1.7
25   2992547.0                    1.7                  1.8
26    311487.0                    1.8                  1.8
27    326939.0                    1.8                  1.9
28    339616.0                    1.9                  2.0
29      3511.0                    2.0                  2.1

    Income composition of resources  Schooling
0                             0.479       10.1
1                             0.476       10.0
2                             0.470        9.9
3                             0.463        9.8
4                             0.454        9.5
5                             0.448        9.2
6                             0.434        8.9
7                             0.433        8.7
8                             0.415        8.4
9                             0.405        8.1
10                            0.396        7.9
11                            0.381        6.8
12                            0.373        6.5
13                            0.341        6.2
14                            0.340        5.9
15                            0.338        5.5
16                            0.762       14.2
17                            0.761       14.2
18                            0.759       14.2
19                            0.752       14.2
20                            0.738       13.3
21                            0.725       12.5
22                            0.721       12.2
23                            0.713       12.0
24                            0.703       11.6
25                            0.696       11.4
26                            0.685       10.8
27                            0.681       10.9
28                            0.674       10.7
29                            0.670       10.7

[30 rows x 22 columns]

# Exercise 2
Use MICE on the Planets (seaborn) dataset to fill in missing values.

In [14]:

import seaborn as sns

# Load the Planets dataset from seaborn
df_planets = sns.load_dataset('planets')

# Show the number of missing values before imputation
print("Missing values before MICE imputation:")
print(df_planets.isnull().sum())
print("\nFirst 30 rows before imputation:\n", df_planets.head(30))

# Select only numeric columns for MICE, as it doesn't handle categorical variables
df_numeric_planets = df_planets.select_dtypes(include=['float64', 'int64'])

# Apply MICE (IterativeImputer) to fill in missing values
imputer = IterativeImputer(max_iter=10, random_state=0)
df_imputed_planets = pd.DataFrame(imputer.fit_transform(df_numeric_planets), columns=df_numeric_planets.columns)

# Replace numeric columns in original dataframe with imputed values
df_planets[df_numeric_planets.columns] = df_imputed_planets

# Show the number of missing values after imputation
print("\nMissing values after MICE imputation:")
print(df_planets.isnull().sum())
print("\nFirst 30 rows after imputation:\n", df_planets.head(30))

Missing values before MICE imputation:
method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

First 30 rows before imputation:
              method  number  orbital_period    mass  distance  year
0   Radial Velocity       1      269.300000   7.100     77.40  2006
1   Radial Velocity       1      874.774000   2.210     56.95  2008
2   Radial Velocity       1      763.000000   2.600     19.84  2011
3   Radial Velocity       1      326.030000  19.400    110.62  2007
4   Radial Velocity       1      516.220000  10.500    119.47  2009
5   Radial Velocity       1      185.840000   4.800     76.39  2008
6   Radial Velocity       1     1773.400000   4.640     18.15  2002
7   Radial Velocity       1      798.500000     NaN     21.41  1996
8   Radial Velocity       1      993.300000  10.300     73.10  2008
9   Radial Velocity       2      452.800000   1.990     74.79  2010
10  Radial Velocity       2      883.000000   0.860     74.79  2010
11  Radial Velocity       1      335.100000   9.880     39.43  2009
12  Radial Velocity       1      479.100000   3.880     97.28  2008
13  Radial Velocity       3     1078.000000   2.530     14.08  1996
14  Radial Velocity       3     2391.000000   0.540     14.08  2001
15  Radial Velocity       3    14002.000000   1.640     14.08  2009
16  Radial Velocity       1        4.230785   0.472     15.36  1995
17  Radial Velocity       5       14.651000   0.800     12.53  1996
18  Radial Velocity       5       44.380000   0.165     12.53  2004
19  Radial Velocity       5     4909.000000   3.530     12.53  2002
20  Radial Velocity       5        0.736540     NaN     12.53  2011
21  Radial Velocity       5      261.200000   0.172     12.53  2007
22  Radial Velocity       3        4.215000   0.016      8.52  2009
23  Radial Velocity       3       38.021000   0.057      8.52  2009
24  Radial Velocity       3      123.010000   0.072      8.52  2009
25  Radial Velocity       1      116.688400     NaN     18.11  1996
26  Radial Velocity       1      691.900000     NaN     81.50  2012
27  Radial Velocity       1      952.700000   5.300     97.18  2008
28  Radial Velocity       1      181.400000   3.200     45.52  2013
29          Imaging       1             NaN     NaN     45.52  2005

Missing values after MICE imputation:
method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

First 30 rows after imputation:
              method  number  orbital_period       mass  distance    year
0   Radial Velocity     1.0      269.300000   7.100000     77.40  2006.0
1   Radial Velocity     1.0      874.774000   2.210000     56.95  2008.0
2   Radial Velocity     1.0      763.000000   2.600000     19.84  2011.0
3   Radial Velocity     1.0      326.030000  19.400000    110.62  2007.0
4   Radial Velocity     1.0      516.220000  10.500000    119.47  2009.0
5   Radial Velocity     1.0      185.840000   4.800000     76.39  2008.0
6   Radial Velocity     1.0     1773.400000   4.640000     18.15  2002.0
7   Radial Velocity     1.0      798.500000   3.869816     21.41  1996.0
8   Radial Velocity     1.0      993.300000  10.300000     73.10  2008.0
9   Radial Velocity     2.0      452.800000   1.990000     74.79  2010.0
10  Radial Velocity     2.0      883.000000   0.860000     74.79  2010.0
11  Radial Velocity     1.0      335.100000   9.880000     39.43  2009.0
12  Radial Velocity     1.0      479.100000   3.880000     97.28  2008.0
13  Radial Velocity     3.0     1078.000000   2.530000     14.08  1996.0
14  Radial Velocity     3.0     2391.000000   0.540000     14.08  2001.0
15  Radial Velocity     3.0    14002.000000   1.640000     14.08  2009.0
16  Radial Velocity     1.0        4.230785   0.472000     15.36  1995.0
17  Radial Velocity     5.0       14.651000   0.800000     12.53  1996.0
18  Radial Velocity     5.0       44.380000   0.165000     12.53  2004.0
19  Radial Velocity     5.0     4909.000000   3.530000     12.53  2002.0
20  Radial Velocity     5.0        0.736540  -0.259639     12.53  2011.0
21  Radial Velocity     5.0      261.200000   0.172000     12.53  2007.0
22  Radial Velocity     3.0        4.215000   0.016000      8.52  2009.0
23  Radial Velocity     3.0       38.021000   0.057000      8.52  2009.0
24  Radial Velocity     3.0      123.010000   0.072000      8.52  2009.0
25  Radial Velocity     1.0      116.688400   3.449598     18.11  1996.0
26  Radial Velocity     1.0      691.900000   2.528288     81.50  2012.0
27  Radial Velocity     1.0      952.700000   5.300000     97.18  2008.0
28  Radial Velocity     1.0      181.400000   3.200000     45.52  2013.0
29          Imaging     1.0     1850.926595   3.450357     45.52  2005.0